{% extends "base/base.html" %}

{% block title %}
List
{% endblock %}

{% block content %}
  <h1> {{ls.name}} </h1>
  <form action="#" method="post">
    {% csrf_token%}
    <ul>
      {% for item in ls.item_set.all %}

        {% if item.complete == True %}
                <li>
                   <input type="checkbox"  value="clicked" 
                   name="C{{item.id}}" checked> {{item.text}} - COMPLETE 
                </li>
        {% else %}
                <li>
                  <input type="checkbox"  value="clicked"
                   name="C{{item.id}}">{{item.text}} - INCOMPLETE 
                </li>
        {% endif %}
      {% endfor %}
    </ul>
    <button type="submit"  name="save"  value="save" >Save</button>

    <input type="text"  name="new">

    <button type="submit"  name="newItem"  value="newItem"> Add</button
</form>
{% endblock %}